<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">

	<header>
		This is header
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
			<p>Department: <%= response.dept %></p>
			<p>Name: <%= response.name %></p>
		</div>
	</main>

	<footer>
		This is footer
	</footer>
	
</body>
</html>